## Create

In [2]:
import re
import pandas as pd
import numpy as np
import os
import string

In [3]:
dir_path = "C:/Users/Daniel/Documents/Git/bank-statement-cleaner/synthetic_data"

In [4]:
savings_csv_path = os.path.join(dir_path, "savings.csv")
chequing_csv_path = os.path.join(dir_path, "chequing.csv")
credit_csv_path = os.path.join(dir_path, "credit.csv")

In [5]:
class CIBCTransactionDescription:
    def __init__(
        self,
        method="",
        type="",
        party=""
    ):
        self.method = method
        self.type = type
        self.party = party

    def to_pd_series(self):
        # convert to lower case to make queries easier
        attributes = [
            self.method,
            self.type,
            self.party
        ]
        for i in range(0, len(attributes)):
            if not attributes[i]:
                attributes[i] = np.nan
            else:
                attributes[i] = attributes[i].lower()
        return pd.Series(attributes)

In [6]:
def parse_debit_description(description):
    tx_type_match = re.search(r'[A-Z][^a-z0-9]*[A-Z]', description) # get transaction type
    if not tx_type_match:
        return CIBCTransactionDescription().to_pd_series()
    tx_type = tx_type_match.group()
    tx_method = description[:tx_type_match.span()[0] - 1]
    for word in [
        "CHARGE",
        "CORRECTION",
        "DEPOSIT",
        "FEE",
        "INTEREST",
        "MEMO",
        "PAY",
        "PURCHASE",
        "TRANSFER",
    ]:
        word_start_index = tx_type.rfind(word) # scan from right
        if word_start_index == -1:
            continue
        tx_type = tx_type[:word_start_index + len(word)]
        # special case for service charges
        if word == "CHARGE":
            return CIBCTransactionDescription(
                method=tx_method,
                type=tx_type
            ).to_pd_series()
        break
    tx_type_end_index = tx_type_match.span()[0] + len(tx_type) - 1
    if tx_type_end_index == len(description) - 1:
        return CIBCTransactionDescription(
            method=tx_method,
            type=tx_type
        ).to_pd_series()
    remainder = description[tx_type_end_index + 2:]
    remainder = remainder.replace("*", "") # delete asterisks
    # find a token with only letters and numbers with at least 1 letter and 1 number
    for token in remainder.split(" "):
        if re.search("^[0-9A-Z]+$", token) and re.search("[0-9]", token) and re.search("[A-Z]", token):
            return CIBCTransactionDescription(
                    method=tx_method,
                    type=tx_type,
                    party=remainder.replace(token, "").strip()
                ).to_pd_series()
    # find a token with only numbers
    token_match = re.search("^[0-9]+(?= )|(?<= )[0-9]+$|(?<= )[0-9]+(?= )", remainder)
    if token_match:
        return CIBCTransactionDescription(
            method=tx_method,
            type=tx_type,
            party=remainder.replace(token_match.group(), "").strip()
        ).to_pd_series()
    return CIBCTransactionDescription(
        method=tx_method,
        type=tx_type
    ).to_pd_series()

In [7]:
def expand_debit(df):
    df[["method", "type", "party"]] = df["description"].apply(parse_debit_description)

In [8]:
def parse_credit_description(description):
    tx_location_match = re.search(r'[^ ]+, .+$', description) # get transaction location
    if not tx_location_match:
        return np.nan
    return description.replace(tx_location_match.group(), "").strip().lower()

In [9]:
def expand_credit(df):
    df["party"] = df["description"].apply(parse_credit_description)

In [10]:
def expand_account_df(account, account_df, expand_fn=None, duplicate_index=True):
    df = account_df.copy()
    date = pd.to_datetime(df["date"])
    df["date"] = date.dt.strftime("%Y-%m-%d")
    df["year"] = date.dt.year
    df["month"] = date.dt.month
    df["day"] = date.dt.day
    df["account"] = account
    df["amount"] = df[["debit", "credit"]].apply(lambda x: x["credit"] if pd.isnull(x["debit"]) else -1 * x["debit"], axis=1)
    df = df.drop(columns=["debit", "credit"])
    if expand_fn:
        expand_fn(df)
    if duplicate_index:
        df["index_copy"] = df.index
    return df

In [11]:
savings_df = pd.read_csv(savings_csv_path, names=["date", "description", "debit", "credit"])
savings_df

,date,description,debit,credit
0,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,NaN,2000.0
1,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,NaN,2000.0
2,2025-01-31,Internet Banking E-TRANSFER 891379219227 LANDLORD,1500.0,NaN
3,2025-01-31,Internet Banking E-TRANSFER 141960766495 LANDLORD,256.0,NaN
4,2025-01-31,Internet Banking INTERNET TRANSFER 178752671254,NaN,50000.0
5,2025-02-28,Internet Banking E-TRANSFER 899912012729 LANDLORD,1500.0,NaN
6,2025-02-28,Internet Banking E-TRANSFER 506104578856 LANDLORD,259.0,NaN
7,2025-02-28,Internet Banking INTERNET TRANSFER 853155311571,NaN,50000.0
8,2025-03-31,Internet Banking INTERNET TRANSFER 193040394515,NaN,50000.0
9,2025-03-31,Internet Banking E-TRANSFER 204002784579 LANDLORD,1500.0,NaN
10,2025-03-31,Internet Banking E-TRANSFER 601490735807 LANDLORD,271.0,NaN
11,2025-04-30,Internet Banking E-TRANSFER 375813354092 LANDLORD,1500.0,NaN
12,2025-04-30,Internet Banking E-TRANSFER 413576083196 LANDLORD,275.0,NaN
13,2025-04-30,Internet Banking INTERNET TRANSFER 825950711483,NaN,50000.0
14,2025-05-31,Internet Banking INTERNET TRANSFER 354554250700,NaN,50000.0
15,2025-05-31,Internet Banking E-TRANSFER 521834751400 LANDLORD,1500.0,NaN
16,2025-05-31,Internet Banking E-TRANSFER 701657854702 LANDLORD,282.0,NaN
17,2025-06-30,Internet Banking INTERNET TRANSFER 617707081506,NaN,50000.0
18,2025-06-30,Internet Banking E-TRANSFER 828826776261 LANDLORD,283.0,NaN
19,2025-06-30,Internet Banking E-TRANSFER 808388247626 LANDLORD,1500.0,NaN
20,2025-07-31,Internet Banking E-TRANSFER 221695274493 LANDLORD,1500.0,NaN
21,2025-07-31,Internet Banking E-TRANSFER 775646115921 LANDLORD,277.0,NaN
22,2025-07-31,Internet Banking INTERNET TRANSFER 757710935231,NaN,50000.0
23,2025-08-31,Internet Banking E-TRANSFER 919774316604 LANDLORD,1500.0,NaN
24,2025-08-31,Internet Banking E-TRANSFER 249074173578 LANDLORD,280.0,NaN
25,2025-08-31,Internet Banking INTERNET TRANSFER 464886862147,NaN,50000.0
26,2025-09-30,Internet Banking E-TRANSFER 277777142749 LANDLORD,254.0,NaN
27,2025-09-30,Internet Banking INTERNET TRANSFER 786873531098,NaN,50000.0
28,2025-09-30,Internet Banking E-TRANSFER 149029665899 LANDLORD,1500.0,NaN
29,2025-10-31,Internet Banking E-TRANSFER 722900186038 LANDLORD,1500.0,NaN
30,2025-10-31,Internet Banking E-TRANSFER 688677006633 LANDLORD,275.0,NaN
31,2025-10-31,Internet Banking INTERNET TRANSFER 127344273120,NaN,50000.0
32,2025-11-30,Internet Banking E-TRANSFER 383532100904 LANDLORD,1500.0,NaN
33,2025-11-30,Internet Banking E-TRANSFER 093192064969 LANDLORD,299.0,NaN
34,2025-11-30,Internet Banking INTERNET TRANSFER 741515855447,NaN,50000.0
35,2025-12-31,Internet Banking E-TRANSFER 149174661918 LANDLORD,255.0,NaN
36,2025-12-31,Internet Banking E-TRANSFER 483520204193 LANDLORD,1500.0,NaN
37,2025-12-31,Internet Banking INTERNET TRANSFER 790268759218,NaN,50000.0

In [12]:
expanded_savings_df = expand_account_df("savings", savings_df, expand_fn=expand_debit)
expanded_savings_df

,date,description,year,month,day,account,amount,method,type,party,index_copy
0,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,2025,1,1,savings,2000.0,automated banking machine,atm deposit,NaN,0
1,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,2025,1,1,savings,2000.0,automated banking machine,atm deposit,NaN,1
2,2025-01-31,Internet Banking E-TRANSFER 891379219227 LANDLORD,2025,1,31,savings,-1500.0,internet banking,e-transfer,landlord,2
3,2025-01-31,Internet Banking E-TRANSFER 141960766495 LANDLORD,2025,1,31,savings,-256.0,internet banking,e-transfer,landlord,3
4,2025-01-31,Internet Banking INTERNET TRANSFER 178752671254,2025,1,31,savings,50000.0,internet banking,internet transfer,NaN,4
5,2025-02-28,Internet Banking E-TRANSFER 899912012729 LANDLORD,2025,2,28,savings,-1500.0,internet banking,e-transfer,landlord,5
6,2025-02-28,Internet Banking E-TRANSFER 506104578856 LANDLORD,2025,2,28,savings,-259.0,internet banking,e-transfer,landlord,6
7,2025-02-28,Internet Banking INTERNET TRANSFER 853155311571,2025,2,28,savings,50000.0,internet banking,internet transfer,NaN,7
8,2025-03-31,Internet Banking INTERNET TRANSFER 193040394515,2025,3,31,savings,50000.0,internet banking,internet transfer,NaN,8
9,2025-03-31,Internet Banking E-TRANSFER 204002784579 LANDLORD,2025,3,31,savings,-1500.0,internet banking,e-transfer,landlord,9
10,2025-03-31,Internet Banking E-TRANSFER 601490735807 LANDLORD,2025,3,31,savings,-271.0,internet banking,e-transfer,landlord,10
11,2025-04-30,Internet Banking E-TRANSFER 375813354092 LANDLORD,2025,4,30,savings,-1500.0,internet banking,e-transfer,landlord,11
12,2025-04-30,Internet Banking E-TRANSFER 413576083196 LANDLORD,2025,4,30,savings,-275.0,internet banking,e-transfer,landlord,12
13,2025-04-30,Internet Banking INTERNET TRANSFER 825950711483,2025,4,30,savings,50000.0,internet banking,internet transfer,NaN,13
14,2025-05-31,Internet Banking INTERNET TRANSFER 354554250700,2025,5,31,savings,50000.0,internet banking,internet transfer,NaN,14
15,2025-05-31,Internet Banking E-TRANSFER 521834751400 LANDLORD,2025,5,31,savings,-1500.0,internet banking,e-transfer,landlord,15
16,2025-05-31,Internet Banking E-TRANSFER 701657854702 LANDLORD,2025,5,31,savings,-282.0,internet banking,e-transfer,landlord,16
17,2025-06-30,Internet Banking INTERNET TRANSFER 617707081506,2025,6,30,savings,50000.0,internet banking,internet transfer,NaN,17
18,2025-06-30,Internet Banking E-TRANSFER 828826776261 LANDLORD,2025,6,30,savings,-283.0,internet banking,e-transfer,landlord,18
19,2025-06-30,Internet Banking E-TRANSFER 808388247626 LANDLORD,2025,6,30,savings,-1500.0,internet banking,e-transfer,landlord,19
20,2025-07-31,Internet Banking E-TRANSFER 221695274493 LANDLORD,2025,7,31,savings,-1500.0,internet banking,e-transfer,landlord,20
21,2025-07-31,Internet Banking E-TRANSFER 775646115921 LANDLORD,2025,7,31,savings,-277.0,internet banking,e-transfer,landlord,21
22,2025-07-31,Internet Banking INTERNET TRANSFER 757710935231,2025,7,31,savings,50000.0,internet banking,internet transfer,NaN,22
23,2025-08-31,Internet Banking E-TRANSFER 919774316604 LANDLORD,2025,8,31,savings,-1500.0,internet banking,e-transfer,landlord,23
24,2025-08-31,Internet Banking E-TRANSFER 249074173578 LANDLORD,2025,8,31,savings,-280.0,internet banking,e-transfer,landlord,24
25,2025-08-31,Internet Banking INTERNET TRANSFER 464886862147,2025,8,31,savings,50000.0,internet banking,internet transfer,NaN,25
26,2025-09-30,Internet Banking E-TRANSFER 277777142749 LANDLORD,2025,9,30,savings,-254.0,internet banking,e-transfer,landlord,26
27,2025-09-30,Internet Banking INTERNET TRANSFER 786873531098,2025,9,30,savings,50000.0,internet banking,internet transfer,NaN,27
28,2025-09-30,Internet Banking E-TRANSFER 149029665899 LANDLORD,2025,9,30,savings,-1500.0,internet banking,e-transfer,landlord,28
29,2025-10-31,Internet Banking E-TRANSFER 722900186038 LANDLORD,2025,10,31,savings,-1500.0,internet banking,e-transfer,landlord,29
30,2025-10-31,Internet Banking E-TRANSFER 688677006633 LANDLORD,2025,10,31,savings,-275.0,internet banking,e-transfer,landlord,30
31,2025-10-31,Internet Banking INTERNET TRANSFER 127344273120,2025,10,31,savings,50000.0,internet banking,internet transfer,NaN,31
32,2025-11-30,Internet Banking E-TRANSFER 383532100904 LANDLORD,2025,11,30,savings,-1500.0,internet banking,e-transfer,landlord,32
33,2025-11-30,Internet Banking E-TRANSFER 093192064969 LANDLORD,2025,11,30,savings,-299.0,internet banking,e-transfer,landlord,33
34,2025-11-30,Internet Banking INTERNET TRANSFER 741515855447,2025,11,30,savings,50000.0,internet banking,internet transfer,NaN,34
35,2025-12-31,Internet Banking E-TRANSFER 149174661918 LANDLORD,2025,12,31,savings,-255.0,internet banking,e-transfer,landlord,35
36,2025-12-31,Internet Banking E-TRANSFER 483520204193 LANDLORD,2025,12,31,savings,-1500.0,internet banking,e-transfer,landlord,36
37,2025-12-31,Internet Banking INTERNET TRANSFER 790268759218,2025,12,31,savings,50000.0,internet banking,internet transfer,NaN,37

In [13]:
chequing_df = pd.read_csv(chequing_csv_path, names=["date", "description", "debit", "credit"])
chequing_df

,date,description,debit,credit
0,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,NaN,2000.0
1,2025-01-01,Internet Banking E-TRANSFER 349282506970 BLUE ...,50.0,NaN
2,2025-01-02,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,3.0,NaN
3,2025-01-03,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,9.0,NaN
4,2025-01-04,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,9.0,NaN
...,...,...,...,...
416,2025-12-01,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,4.0,NaN
417,2025-12-01,Internet Banking E-TRANSFER 917263704293 BLUE ...,50.0,NaN
418,2025-12-02,Internet Banking INTERNET TRANSFER 532904682993,93.0,NaN
419,2025-12-31,Internet Banking INTERNET TRANSFER 790268759218,50000.0,NaN
420,2025-12-31,Branch Transaction CREDIT MEMO,NaN,7000.0

In [14]:
expanded_chequing_df = expand_account_df("chequing", chequing_df, expand_fn=expand_debit)
expanded_chequing_df

,date,description,year,month,day,account,amount,method,type,party,index_copy
0,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,2025,1,1,chequing,2000.0,automated banking machine,atm deposit,NaN,0
1,2025-01-01,Internet Banking E-TRANSFER 349282506970 BLUE ...,2025,1,1,chequing,-50.0,internet banking,e-transfer,blue hockey club,1
2,2025-01-02,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,2025,1,2,chequing,-3.0,point of sale - visa debit,visa debit retail purchase,presto,2
3,2025-01-03,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,2025,1,3,chequing,-9.0,point of sale - visa debit,visa debit retail purchase,presto,3
4,2025-01-04,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,2025,1,4,chequing,-9.0,point of sale - visa debit,visa debit retail purchase,presto,4
...,...,...,...,...,...,...,...,...,...,...,...
416,2025-12-01,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,2025,12,1,chequing,-4.0,point of sale - visa debit,visa debit retail purchase,presto,416
417,2025-12-01,Internet Banking E-TRANSFER 917263704293 BLUE ...,2025,12,1,chequing,-50.0,internet banking,e-transfer,blue hockey club,417
418,2025-12-02,Internet Banking INTERNET TRANSFER 532904682993,2025,12,2,chequing,-93.0,internet banking,internet transfer,NaN,418
419,2025-12-31,Internet Banking INTERNET TRANSFER 790268759218,2025,12,31,chequing,-50000.0,internet banking,internet transfer,NaN,419
420,2025-12-31,Branch Transaction CREDIT MEMO,2025,12,31,chequing,7000.0,branch transaction,credit memo,NaN,420

In [15]:
def load_cibc_credit_csv(csv_path):
    credit_df = pd.read_csv(csv_path, usecols=range(0, 4), names=["date", "description", "debit", "credit"])
    return credit_df

In [16]:
credit_df = load_cibc_credit_csv(credit_csv_path)
credit_df

          date                        description  debit  credit
0   2025-01-07                WALMART TORONTO, ON   64.0     NaN
1   2025-01-07  PAYMENT THANK YOU/PAIEMEN T MERCI    NaN    64.0
2   2025-01-14                WALMART TORONTO, ON   80.0     NaN
3   2025-01-14  PAYMENT THANK YOU/PAIEMEN T MERCI    NaN    80.0
4   2025-01-21                WALMART TORONTO, ON   51.0     NaN
..         ...                                ...    ...     ...
91  2025-11-18  PAYMENT THANK YOU/PAIEMEN T MERCI    NaN    82.0
92  2025-11-25                WALMART TORONTO, ON   51.0     NaN
93  2025-11-25  PAYMENT THANK YOU/PAIEMEN T MERCI    NaN    51.0
94  2025-12-02                WALMART TORONTO, ON   93.0     NaN
95  2025-12-02  PAYMENT THANK YOU/PAIEMEN T MERCI    NaN    93.0

[96 rows x 4 columns]

In [17]:
expanded_credit_df = expand_account_df(
    "credit",
    credit_df,
    expand_fn=expand_credit,
    duplicate_index=False
)
expanded_credit_df

,date,description,year,month,day,account,amount,party
0,2025-01-07,"WALMART TORONTO, ON",2025,1,7,credit,-64.0,walmart
1,2025-01-07,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,1,7,credit,64.0,NaN
2,2025-01-14,"WALMART TORONTO, ON",2025,1,14,credit,-80.0,walmart
3,2025-01-14,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,1,14,credit,80.0,NaN
4,2025-01-21,"WALMART TORONTO, ON",2025,1,21,credit,-51.0,walmart
...,...,...,...,...,...,...,...,...
91,2025-11-18,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,11,18,credit,82.0,NaN
92,2025-11-25,"WALMART TORONTO, ON",2025,11,25,credit,-51.0,walmart
93,2025-11-25,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,11,25,credit,51.0,NaN
94,2025-12-02,"WALMART TORONTO, ON",2025,12,2,credit,-93.0,walmart
95,2025-12-02,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,12,2,credit,93.0,NaN

In [18]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [19]:
uid_dict = {}

def create_uid(date, description, account, amount):
    separator = "_"
    table = str.maketrans("", "", string.punctuation)
    description = description.translate(table)
    uid = separator.join([date, description, account, str(amount)])
    if uid not in uid_dict:
        uid_dict[uid] = 1
    else:
        uid_dict[uid] += 1
    return separator.join([uid, str(uid_dict[uid])]).lower()

def get_uid_series(df):
    return df.apply(lambda x: create_uid(
        x["date"],
        x["description"],
        x["account"],
        x["amount"]
    ), axis=1)

In [20]:
expanded_savings_df["uid"] = get_uid_series(expanded_savings_df)
expanded_savings_df

,date,description,year,month,day,account,amount,method,type,party,index_copy,uid
0,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,2025,1,1,savings,2000.0,automated banking machine,atm deposit,NaN,0,2025-01-01_automated banking machine atm depos...
1,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,2025,1,1,savings,2000.0,automated banking machine,atm deposit,NaN,1,2025-01-01_automated banking machine atm depos...
2,2025-01-31,Internet Banking E-TRANSFER 891379219227 LANDLORD,2025,1,31,savings,-1500.0,internet banking,e-transfer,landlord,2,2025-01-31_internet banking etransfer 89137921...
3,2025-01-31,Internet Banking E-TRANSFER 141960766495 LANDLORD,2025,1,31,savings,-256.0,internet banking,e-transfer,landlord,3,2025-01-31_internet banking etransfer 14196076...
4,2025-01-31,Internet Banking INTERNET TRANSFER 178752671254,2025,1,31,savings,50000.0,internet banking,internet transfer,NaN,4,2025-01-31_internet banking internet transfer ...
5,2025-02-28,Internet Banking E-TRANSFER 899912012729 LANDLORD,2025,2,28,savings,-1500.0,internet banking,e-transfer,landlord,5,2025-02-28_internet banking etransfer 89991201...
6,2025-02-28,Internet Banking E-TRANSFER 506104578856 LANDLORD,2025,2,28,savings,-259.0,internet banking,e-transfer,landlord,6,2025-02-28_internet banking etransfer 50610457...
7,2025-02-28,Internet Banking INTERNET TRANSFER 853155311571,2025,2,28,savings,50000.0,internet banking,internet transfer,NaN,7,2025-02-28_internet banking internet transfer ...
8,2025-03-31,Internet Banking INTERNET TRANSFER 193040394515,2025,3,31,savings,50000.0,internet banking,internet transfer,NaN,8,2025-03-31_internet banking internet transfer ...
9,2025-03-31,Internet Banking E-TRANSFER 204002784579 LANDLORD,2025,3,31,savings,-1500.0,internet banking,e-transfer,landlord,9,2025-03-31_internet banking etransfer 20400278...
10,2025-03-31,Internet Banking E-TRANSFER 601490735807 LANDLORD,2025,3,31,savings,-271.0,internet banking,e-transfer,landlord,10,2025-03-31_internet banking etransfer 60149073...
11,2025-04-30,Internet Banking E-TRANSFER 375813354092 LANDLORD,2025,4,30,savings,-1500.0,internet banking,e-transfer,landlord,11,2025-04-30_internet banking etransfer 37581335...
12,2025-04-30,Internet Banking E-TRANSFER 413576083196 LANDLORD,2025,4,30,savings,-275.0,internet banking,e-transfer,landlord,12,2025-04-30_internet banking etransfer 41357608...
13,2025-04-30,Internet Banking INTERNET TRANSFER 825950711483,2025,4,30,savings,50000.0,internet banking,internet transfer,NaN,13,2025-04-30_internet banking internet transfer ...
14,2025-05-31,Internet Banking INTERNET TRANSFER 354554250700,2025,5,31,savings,50000.0,internet banking,internet transfer,NaN,14,2025-05-31_internet banking internet transfer ...
15,2025-05-31,Internet Banking E-TRANSFER 521834751400 LANDLORD,2025,5,31,savings,-1500.0,internet banking,e-transfer,landlord,15,2025-05-31_internet banking etransfer 52183475...
16,2025-05-31,Internet Banking E-TRANSFER 701657854702 LANDLORD,2025,5,31,savings,-282.0,internet banking,e-transfer,landlord,16,2025-05-31_internet banking etransfer 70165785...
17,2025-06-30,Internet Banking INTERNET TRANSFER 617707081506,2025,6,30,savings,50000.0,internet banking,internet transfer,NaN,17,2025-06-30_internet banking internet transfer ...
18,2025-06-30,Internet Banking E-TRANSFER 828826776261 LANDLORD,2025,6,30,savings,-283.0,internet banking,e-transfer,landlord,18,2025-06-30_internet banking etransfer 82882677...
19,2025-06-30,Internet Banking E-TRANSFER 808388247626 LANDLORD,2025,6,30,savings,-1500.0,internet banking,e-transfer,landlord,19,2025-06-30_internet banking etransfer 80838824...
20,2025-07-31,Internet Banking E-TRANSFER 221695274493 LANDLORD,2025,7,31,savings,-1500.0,internet banking,e-transfer,landlord,20,2025-07-31_internet banking etransfer 22169527...
21,2025-07-31,Internet Banking E-TRANSFER 775646115921 LANDLORD,2025,7,31,savings,-277.0,internet banking,e-transfer,landlord,21,2025-07-31_internet banking etransfer 77564611...
22,2025-07-31,Internet Banking INTERNET TRANSFER 757710935231,2025,7,31,savings,50000.0,internet banking,internet transfer,NaN,22,2025-07-31_internet banking internet transfer ...
23,2025-08-31,Internet Banking E-TRANSFER 919774316604 LANDLORD,2025,8,31,savings,-1500.0,internet banking,e-transfer,landlord,23,2025-08-31_internet banking etransfer 91977431...
24,2025-08-31,Internet Banking E-TRANSFER 249074173578 LANDLORD,2025,8,31,savings,-280.0,internet banking,e-transfer,landlord,24,2025-08-31_internet banking etransfer 24907417...
25,2025-08-31,Internet Banking INTERNET TRANSFER 464886862147,2025,8,31,savings,50000.0,internet banking,internet transfer,NaN,25,2025-08-31_internet banking internet transfer ...
26,2025-09-30,Internet Banking E-TRANSFER 277777142749 LANDLORD,2025,9,30,savings,-254.0,internet banking,e-transfer,landlord,26,2025-09-30_internet banking etransfer 27777714...
27,2025-09-30,Internet Banking INTERNET TRANSFER 786873531098,2025,9,30,savings,50000.0,internet banking,internet transfer,NaN,27,2025-09-30_internet banking internet transfer ...
28,2025-09-30,Internet Banking E-TRANSFER 149029665899 LANDLORD,2025,9,30,savings,-1500.0,internet banking,e-transfer,landlord,28,2025-09-30_internet banking etransfer 14902966...
29,2025-10-31,Internet Banking E-TRANSFER 722900186038 LANDLORD,2025,10,31,savings,-1500.0,internet banking,e-transfer,landlord,29,2025-10-31_internet banking etransfer 72290018...
30,2025-10-31,Internet Banking E-TRANSFER 688677006633 LANDLORD,2025,10,31,savings,-275.0,internet banking,e-transfer,landlord,30,2025-10-31_internet banking etransfer 68867700...
31,2025-10-31,Internet Banking INTERNET TRANSFER 127344273120,2025,10,31,savings,50000.0,internet banking,internet transfer,NaN,31,2025-10-31_internet banking internet transfer ...
32,2025-11-30,Internet Banking E-TRANSFER 383532100904 LANDLORD,2025,11,30,savings,-1500.0,internet banking,e-transfer,landlord,32,2025-11-30_internet banking etransfer 38353210...
33,2025-11-30,Internet Banking E-TRANSFER 093192064969 LANDLORD,2025,11,30,savings,-299.0,internet banking,e-transfer,landlord,33,2025-11-30_internet banking etransfer 09319206...
34,2025-11-30,Internet Banking INTERNET TRANSFER 741515855447,2025,11,30,savings,50000.0,internet banking,internet transfer,NaN,34,2025-11-30_internet banking internet transfer ...
35,2025-12-31,Internet Banking E-TRANSFER 149174661918 LANDLORD,2025,12,31,savings,-255.0,internet banking,e-transfer,landlord,35,2025-12-31_internet banking etransfer 14917466...
36,2025-12-31,Internet Banking E-TRANSFER 483520204193 LANDLORD,2025,12,31,savings,-1500.0,internet banking,e-transfer,landlord,36,2025-12-31_internet banking etransfer 48352020...
37,2025-12-31,Internet Banking INTERNET TRANSFER 790268759218,2025,12,31,savings,50000.0,internet banking,internet transfer,NaN,37,2025-12-31_internet banking internet transfer ...

In [21]:
expanded_chequing_df["uid"] = get_uid_series(expanded_chequing_df)
expanded_chequing_df

,date,description,year,month,day,account,amount,method,type,party,index_copy,uid
0,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,2025,1,1,chequing,2000.0,automated banking machine,atm deposit,NaN,0,2025-01-01_automated banking machine atm depos...
1,2025-01-01,Internet Banking E-TRANSFER 349282506970 BLUE ...,2025,1,1,chequing,-50.0,internet banking,e-transfer,blue hockey club,1,2025-01-01_internet banking etransfer 34928250...
2,2025-01-02,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,2025,1,2,chequing,-3.0,point of sale - visa debit,visa debit retail purchase,presto,2,2025-01-02_point of sale visa debit visa debi...
3,2025-01-03,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,2025,1,3,chequing,-9.0,point of sale - visa debit,visa debit retail purchase,presto,3,2025-01-03_point of sale visa debit visa debi...
4,2025-01-04,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,2025,1,4,chequing,-9.0,point of sale - visa debit,visa debit retail purchase,presto,4,2025-01-04_point of sale visa debit visa debi...
...,...,...,...,...,...,...,...,...,...,...,...,...
416,2025-12-01,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,2025,12,1,chequing,-4.0,point of sale - visa debit,visa debit retail purchase,presto,416,2025-12-01_point of sale visa debit visa debi...
417,2025-12-01,Internet Banking E-TRANSFER 917263704293 BLUE ...,2025,12,1,chequing,-50.0,internet banking,e-transfer,blue hockey club,417,2025-12-01_internet banking etransfer 91726370...
418,2025-12-02,Internet Banking INTERNET TRANSFER 532904682993,2025,12,2,chequing,-93.0,internet banking,internet transfer,NaN,418,2025-12-02_internet banking internet transfer ...
419,2025-12-31,Internet Banking INTERNET TRANSFER 790268759218,2025,12,31,chequing,-50000.0,internet banking,internet transfer,NaN,419,2025-12-31_internet banking internet transfer ...
420,2025-12-31,Branch Transaction CREDIT MEMO,2025,12,31,chequing,7000.0,branch transaction,credit memo,NaN,420,2025-12-31_branch transaction credit memo _che...

In [22]:
expanded_credit_df["uid"] = get_uid_series(expanded_credit_df)
expanded_credit_df

,date,description,year,month,day,account,amount,party,uid
0,2025-01-07,"WALMART TORONTO, ON",2025,1,7,credit,-64.0,walmart,2025-01-07_walmart toronto on_credit_-64.0_1
1,2025-01-07,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,1,7,credit,64.0,NaN,2025-01-07_payment thank youpaiemen t merci_cr...
2,2025-01-14,"WALMART TORONTO, ON",2025,1,14,credit,-80.0,walmart,2025-01-14_walmart toronto on_credit_-80.0_1
3,2025-01-14,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,1,14,credit,80.0,NaN,2025-01-14_payment thank youpaiemen t merci_cr...
4,2025-01-21,"WALMART TORONTO, ON",2025,1,21,credit,-51.0,walmart,2025-01-21_walmart toronto on_credit_-51.0_1
...,...,...,...,...,...,...,...,...,...
91,2025-11-18,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,11,18,credit,82.0,NaN,2025-11-18_payment thank youpaiemen t merci_cr...
92,2025-11-25,"WALMART TORONTO, ON",2025,11,25,credit,-51.0,walmart,2025-11-25_walmart toronto on_credit_-51.0_1
93,2025-11-25,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,11,25,credit,51.0,NaN,2025-11-25_payment thank youpaiemen t merci_cr...
94,2025-12-02,"WALMART TORONTO, ON",2025,12,2,credit,-93.0,walmart,2025-12-02_walmart toronto on_credit_-93.0_1
95,2025-12-02,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,12,2,credit,93.0,NaN,2025-12-02_payment thank youpaiemen t merci_cr...

In [23]:
merged_df = expanded_savings_df.merge(expanded_chequing_df, left_on="description", right_on="description")
merged_df = merged_df.loc[merged_df["amount_x"] == -1 * merged_df["amount_y"]]
merged_df

,date_x,description,year_x,month_x,day_x,account_x,amount_x,method_x,type_x,party_x,...,year_y,month_y,day_y,account_y,amount_y,method_y,type_y,party_y,index_copy_y,uid_y
2,2025-01-31,Internet Banking INTERNET TRANSFER 178752671254,2025,1,31,savings,50000.0,internet banking,internet transfer,NaN,...,2025,1,31,chequing,-50000.0,internet banking,internet transfer,NaN,37,2025-01-31_internet banking internet transfer ...
3,2025-02-28,Internet Banking INTERNET TRANSFER 853155311571,2025,2,28,savings,50000.0,internet banking,internet transfer,NaN,...,2025,2,28,chequing,-50000.0,internet banking,internet transfer,NaN,72,2025-02-28_internet banking internet transfer ...
4,2025-03-31,Internet Banking INTERNET TRANSFER 193040394515,2025,3,31,savings,50000.0,internet banking,internet transfer,NaN,...,2025,3,31,chequing,-50000.0,internet banking,internet transfer,NaN,109,2025-03-31_internet banking internet transfer ...
5,2025-04-30,Internet Banking INTERNET TRANSFER 825950711483,2025,4,30,savings,50000.0,internet banking,internet transfer,NaN,...,2025,4,30,chequing,-50000.0,internet banking,internet transfer,NaN,147,2025-04-30_internet banking internet transfer ...
6,2025-05-31,Internet Banking INTERNET TRANSFER 354554250700,2025,5,31,savings,50000.0,internet banking,internet transfer,NaN,...,2025,5,31,chequing,-50000.0,internet banking,internet transfer,NaN,187,2025-05-31_internet banking internet transfer ...
7,2025-06-30,Internet Banking INTERNET TRANSFER 617707081506,2025,6,30,savings,50000.0,internet banking,internet transfer,NaN,...,2025,6,30,chequing,-50000.0,internet banking,internet transfer,NaN,223,2025-06-30_internet banking internet transfer ...
8,2025-07-31,Internet Banking INTERNET TRANSFER 757710935231,2025,7,31,savings,50000.0,internet banking,internet transfer,NaN,...,2025,7,31,chequing,-50000.0,internet banking,internet transfer,NaN,263,2025-07-31_internet banking internet transfer ...
9,2025-08-31,Internet Banking INTERNET TRANSFER 464886862147,2025,8,31,savings,50000.0,internet banking,internet transfer,NaN,...,2025,8,31,chequing,-50000.0,internet banking,internet transfer,NaN,301,2025-08-31_internet banking internet transfer ...
10,2025-09-30,Internet Banking INTERNET TRANSFER 786873531098,2025,9,30,savings,50000.0,internet banking,internet transfer,NaN,...,2025,9,30,chequing,-50000.0,internet banking,internet transfer,NaN,337,2025-09-30_internet banking internet transfer ...
11,2025-10-31,Internet Banking INTERNET TRANSFER 127344273120,2025,10,31,savings,50000.0,internet banking,internet transfer,NaN,...,2025,10,31,chequing,-50000.0,internet banking,internet transfer,NaN,376,2025-10-31_internet banking internet transfer ...
12,2025-11-30,Internet Banking INTERNET TRANSFER 741515855447,2025,11,30,savings,50000.0,internet banking,internet transfer,NaN,...,2025,11,30,chequing,-50000.0,internet banking,internet transfer,NaN,414,2025-11-30_internet banking internet transfer ...
13,2025-12-31,Internet Banking INTERNET TRANSFER 790268759218,2025,12,31,savings,50000.0,internet banking,internet transfer,NaN,...,2025,12,31,chequing,-50000.0,internet banking,internet transfer,NaN,419,2025-12-31_internet banking internet transfer ...

In [24]:
internal_transfer_df = pd.concat([
    expanded_savings_df.loc[merged_df["index_copy_x"]],
    expanded_chequing_df.loc[merged_df["index_copy_y"]]
]).drop(columns=["index_copy", "party"]).sort_values(by=["uid"]).reset_index(drop=True)
internal_transfer_df

,date,description,year,month,day,account,amount,method,type,uid
0,2025-01-31,Internet Banking INTERNET TRANSFER 178752671254,2025,1,31,chequing,-50000.0,internet banking,internet transfer,2025-01-31_internet banking internet transfer ...
1,2025-01-31,Internet Banking INTERNET TRANSFER 178752671254,2025,1,31,savings,50000.0,internet banking,internet transfer,2025-01-31_internet banking internet transfer ...
2,2025-02-28,Internet Banking INTERNET TRANSFER 853155311571,2025,2,28,chequing,-50000.0,internet banking,internet transfer,2025-02-28_internet banking internet transfer ...
3,2025-02-28,Internet Banking INTERNET TRANSFER 853155311571,2025,2,28,savings,50000.0,internet banking,internet transfer,2025-02-28_internet banking internet transfer ...
4,2025-03-31,Internet Banking INTERNET TRANSFER 193040394515,2025,3,31,chequing,-50000.0,internet banking,internet transfer,2025-03-31_internet banking internet transfer ...
5,2025-03-31,Internet Banking INTERNET TRANSFER 193040394515,2025,3,31,savings,50000.0,internet banking,internet transfer,2025-03-31_internet banking internet transfer ...
6,2025-04-30,Internet Banking INTERNET TRANSFER 825950711483,2025,4,30,chequing,-50000.0,internet banking,internet transfer,2025-04-30_internet banking internet transfer ...
7,2025-04-30,Internet Banking INTERNET TRANSFER 825950711483,2025,4,30,savings,50000.0,internet banking,internet transfer,2025-04-30_internet banking internet transfer ...
8,2025-05-31,Internet Banking INTERNET TRANSFER 354554250700,2025,5,31,chequing,-50000.0,internet banking,internet transfer,2025-05-31_internet banking internet transfer ...
9,2025-05-31,Internet Banking INTERNET TRANSFER 354554250700,2025,5,31,savings,50000.0,internet banking,internet transfer,2025-05-31_internet banking internet transfer ...
10,2025-06-30,Internet Banking INTERNET TRANSFER 617707081506,2025,6,30,chequing,-50000.0,internet banking,internet transfer,2025-06-30_internet banking internet transfer ...
11,2025-06-30,Internet Banking INTERNET TRANSFER 617707081506,2025,6,30,savings,50000.0,internet banking,internet transfer,2025-06-30_internet banking internet transfer ...
12,2025-07-31,Internet Banking INTERNET TRANSFER 757710935231,2025,7,31,chequing,-50000.0,internet banking,internet transfer,2025-07-31_internet banking internet transfer ...
13,2025-07-31,Internet Banking INTERNET TRANSFER 757710935231,2025,7,31,savings,50000.0,internet banking,internet transfer,2025-07-31_internet banking internet transfer ...
14,2025-08-31,Internet Banking INTERNET TRANSFER 464886862147,2025,8,31,chequing,-50000.0,internet banking,internet transfer,2025-08-31_internet banking internet transfer ...
15,2025-08-31,Internet Banking INTERNET TRANSFER 464886862147,2025,8,31,savings,50000.0,internet banking,internet transfer,2025-08-31_internet banking internet transfer ...
16,2025-09-30,Internet Banking INTERNET TRANSFER 786873531098,2025,9,30,chequing,-50000.0,internet banking,internet transfer,2025-09-30_internet banking internet transfer ...
17,2025-09-30,Internet Banking INTERNET TRANSFER 786873531098,2025,9,30,savings,50000.0,internet banking,internet transfer,2025-09-30_internet banking internet transfer ...
18,2025-10-31,Internet Banking INTERNET TRANSFER 127344273120,2025,10,31,chequing,-50000.0,internet banking,internet transfer,2025-10-31_internet banking internet transfer ...
19,2025-10-31,Internet Banking INTERNET TRANSFER 127344273120,2025,10,31,savings,50000.0,internet banking,internet transfer,2025-10-31_internet banking internet transfer ...
20,2025-11-30,Internet Banking INTERNET TRANSFER 741515855447,2025,11,30,chequing,-50000.0,internet banking,internet transfer,2025-11-30_internet banking internet transfer ...
21,2025-11-30,Internet Banking INTERNET TRANSFER 741515855447,2025,11,30,savings,50000.0,internet banking,internet transfer,2025-11-30_internet banking internet transfer ...
22,2025-12-31,Internet Banking INTERNET TRANSFER 790268759218,2025,12,31,chequing,-50000.0,internet banking,internet transfer,2025-12-31_internet banking internet transfer ...
23,2025-12-31,Internet Banking INTERNET TRANSFER 790268759218,2025,12,31,savings,50000.0,internet banking,internet transfer,2025-12-31_internet banking internet transfer ...

In [25]:
raw_debit_df = pd.concat([
    expanded_savings_df.drop(merged_df["index_copy_x"]),
    expanded_chequing_df.drop(merged_df["index_copy_y"])
]).drop(columns=["index_copy"]).reset_index(drop=True)
raw_debit_df

,date,description,year,month,day,account,amount,method,type,party,uid
0,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,2025,1,1,savings,2000.0,automated banking machine,atm deposit,NaN,2025-01-01_automated banking machine atm depos...
1,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,2025,1,1,savings,2000.0,automated banking machine,atm deposit,NaN,2025-01-01_automated banking machine atm depos...
2,2025-01-31,Internet Banking E-TRANSFER 891379219227 LANDLORD,2025,1,31,savings,-1500.0,internet banking,e-transfer,landlord,2025-01-31_internet banking etransfer 89137921...
3,2025-01-31,Internet Banking E-TRANSFER 141960766495 LANDLORD,2025,1,31,savings,-256.0,internet banking,e-transfer,landlord,2025-01-31_internet banking etransfer 14196076...
4,2025-02-28,Internet Banking E-TRANSFER 899912012729 LANDLORD,2025,2,28,savings,-1500.0,internet banking,e-transfer,landlord,2025-02-28_internet banking etransfer 89991201...
...,...,...,...,...,...,...,...,...,...,...,...
430,2025-11-30,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,2025,11,30,chequing,-8.0,point of sale - visa debit,visa debit retail purchase,presto,2025-11-30_point of sale visa debit visa debi...
431,2025-12-01,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,2025,12,1,chequing,-4.0,point of sale - visa debit,visa debit retail purchase,presto,2025-12-01_point of sale visa debit visa debi...
432,2025-12-01,Internet Banking E-TRANSFER 917263704293 BLUE ...,2025,12,1,chequing,-50.0,internet banking,e-transfer,blue hockey club,2025-12-01_internet banking etransfer 91726370...
433,2025-12-02,Internet Banking INTERNET TRANSFER 532904682993,2025,12,2,chequing,-93.0,internet banking,internet transfer,NaN,2025-12-02_internet banking internet transfer ...
434,2025-12-31,Branch Transaction CREDIT MEMO,2025,12,31,chequing,7000.0,branch transaction,credit memo,NaN,2025-12-31_branch transaction credit memo _che...

In [26]:
internal_payment_from_debit_df = raw_debit_df.loc[
    (raw_debit_df["method"] == "internet banking") &
    (raw_debit_df["type"] == "internet transfer")
].drop(columns=["party"])
internal_payment_from_debit_df

,date,description,year,month,day,account,amount,method,type,uid
35,2025-01-07,Internet Banking INTERNET TRANSFER 755558011330,2025,1,7,chequing,-64.0,internet banking,internet transfer,2025-01-07_internet banking internet transfer ...
43,2025-01-14,Internet Banking INTERNET TRANSFER 996991902804,2025,1,14,chequing,-80.0,internet banking,internet transfer,2025-01-14_internet banking internet transfer ...
51,2025-01-21,Internet Banking INTERNET TRANSFER 986463128183,2025,1,21,chequing,-51.0,internet banking,internet transfer,2025-01-21_internet banking internet transfer ...
59,2025-01-28,Internet Banking INTERNET TRANSFER 089849535459,2025,1,28,chequing,-80.0,internet banking,internet transfer,2025-01-28_internet banking internet transfer ...
69,2025-02-04,Internet Banking INTERNET TRANSFER 858247631127,2025,2,4,chequing,-74.0,internet banking,internet transfer,2025-02-04_internet banking internet transfer ...
77,2025-02-11,Internet Banking INTERNET TRANSFER 701548196466,2025,2,11,chequing,-75.0,internet banking,internet transfer,2025-02-11_internet banking internet transfer ...
84,2025-02-18,Internet Banking INTERNET TRANSFER 985272724725,2025,2,18,chequing,-51.0,internet banking,internet transfer,2025-02-18_internet banking internet transfer ...
92,2025-02-25,Internet Banking INTERNET TRANSFER 722097679043,2025,2,25,chequing,-90.0,internet banking,internet transfer,2025-02-25_internet banking internet transfer ...
102,2025-03-04,Internet Banking INTERNET TRANSFER 761892470662,2025,3,4,chequing,-67.0,internet banking,internet transfer,2025-03-04_internet banking internet transfer ...
111,2025-03-11,Internet Banking INTERNET TRANSFER 120658481851,2025,3,11,chequing,-83.0,internet banking,internet transfer,2025-03-11_internet banking internet transfer ...
117,2025-03-18,Internet Banking INTERNET TRANSFER 361980431392,2025,3,18,chequing,-85.0,internet banking,internet transfer,2025-03-18_internet banking internet transfer ...
127,2025-03-25,Internet Banking INTERNET TRANSFER 684694646636,2025,3,25,chequing,-72.0,internet banking,internet transfer,2025-03-25_internet banking internet transfer ...
137,2025-04-01,Internet Banking INTERNET TRANSFER 901224184083,2025,4,1,chequing,-76.0,internet banking,internet transfer,2025-04-01_internet banking internet transfer ...
143,2025-04-08,Internet Banking INTERNET TRANSFER 891047739187,2025,4,8,chequing,-68.0,internet banking,internet transfer,2025-04-08_internet banking internet transfer ...
153,2025-04-15,Internet Banking INTERNET TRANSFER 525807877131,2025,4,15,chequing,-56.0,internet banking,internet transfer,2025-04-15_internet banking internet transfer ...
161,2025-04-22,Internet Banking INTERNET TRANSFER 915525559026,2025,4,22,chequing,-100.0,internet banking,internet transfer,2025-04-22_internet banking internet transfer ...
169,2025-04-29,Internet Banking INTERNET TRANSFER 467471545523,2025,4,29,chequing,-84.0,internet banking,internet transfer,2025-04-29_internet banking internet transfer ...
179,2025-05-06,Internet Banking INTERNET TRANSFER 960020711815,2025,5,6,chequing,-91.0,internet banking,internet transfer,2025-05-06_internet banking internet transfer ...
186,2025-05-13,Internet Banking INTERNET TRANSFER 301660020614,2025,5,13,chequing,-67.0,internet banking,internet transfer,2025-05-13_internet banking internet transfer ...
194,2025-05-20,Internet Banking INTERNET TRANSFER 642579926973,2025,5,20,chequing,-63.0,internet banking,internet transfer,2025-05-20_internet banking internet transfer ...
203,2025-05-27,Internet Banking INTERNET TRANSFER 070778887302,2025,5,27,chequing,-93.0,internet banking,internet transfer,2025-05-27_internet banking internet transfer ...
211,2025-06-03,Internet Banking INTERNET TRANSFER 808938541512,2025,6,3,chequing,-50.0,internet banking,internet transfer,2025-06-03_internet banking internet transfer ...
221,2025-06-10,Internet Banking INTERNET TRANSFER 434406615367,2025,6,10,chequing,-57.0,internet banking,internet transfer,2025-06-10_internet banking internet transfer ...
229,2025-06-17,Internet Banking INTERNET TRANSFER 800460679262,2025,6,17,chequing,-88.0,internet banking,internet transfer,2025-06-17_internet banking internet transfer ...
237,2025-06-24,Internet Banking INTERNET TRANSFER 249989644416,2025,6,24,chequing,-59.0,internet banking,internet transfer,2025-06-24_internet banking internet transfer ...
246,2025-07-01,Internet Banking INTERNET TRANSFER 531228080211,2025,7,1,chequing,-68.0,internet banking,internet transfer,2025-07-01_internet banking internet transfer ...
255,2025-07-08,Internet Banking INTERNET TRANSFER 764044855591,2025,7,8,chequing,-66.0,internet banking,internet transfer,2025-07-08_internet banking internet transfer ...
263,2025-07-15,Internet Banking INTERNET TRANSFER 502855122654,2025,7,15,chequing,-56.0,internet banking,internet transfer,2025-07-15_internet banking internet transfer ...
271,2025-07-22,Internet Banking INTERNET TRANSFER 964766664434,2025,7,22,chequing,-63.0,internet banking,internet transfer,2025-07-22_internet banking internet transfer ...
279,2025-07-29,Internet Banking INTERNET TRANSFER 836821742202,2025,7,29,chequing,-97.0,internet banking,internet transfer,2025-07-29_internet banking internet transfer ...
289,2025-08-05,Internet Banking INTERNET TRANSFER 315148263053,2025,8,5,chequing,-80.0,internet banking,internet transfer,2025-08-05_internet banking internet transfer ...
297,2025-08-12,Internet Banking INTERNET TRANSFER 710335176896,2025,8,12,chequing,-81.0,internet banking,internet transfer,2025-08-12_internet banking internet transfer ...
305,2025-08-19,Internet Banking INTERNET TRANSFER 764804113123,2025,8,19,chequing,-50.0,internet banking,internet transfer,2025-08-19_internet banking internet transfer ...
313,2025-08-26,Internet Banking INTERNET TRANSFER 798525039077,2025,8,26,chequing,-95.0,internet banking,internet transfer,2025-08-26_internet banking internet transfer ...
323,2025-09-02,Internet Banking INTERNET TRANSFER 180931347965,2025,9,2,chequing,-86.0,internet banking,internet transfer,2025-09-02_internet banking internet transfer ...
330,2025-09-09,Internet Banking INTERNET TRANSFER 421636728391,2025,9,9,chequing,-62.0,internet banking,internet transfer,2025-09-09_internet banking internet transfer ...
339,2025-09-16,Internet Banking INTERNET TRANSFER 871369200366,2025,9,16,chequing,-99.0,internet banking,internet transfer,2025-09-16_internet banking internet transfer ...
347,2025-09-23,Internet Banking INTERNET TRANSFER 587758844661,2025,9,23,chequing,-54.0,internet banking,internet transfer,2025-09-23_internet banking internet transfer ...
355,2025-09-30,Internet Banking INTERNET TRANSFER 224296418551,2025,9,30,chequing,-56.0,internet banking,internet transfer,2025-09-30_internet banking internet transfer ...
365,2025-10-07,Internet Banking INTERNET TRANSFER 633500242315,2025,10,7,chequing,-96.0,internet banking,internet transfer,2025-10-07_internet banking internet transfer ...
373,2025-10-14,Internet Banking INTERNET TRANSFER 898204474908,2025,10,14,chequing,-92.0,internet banking,internet transfer,2025-10-14_internet banking internet transfer ...
380,2025-10-21,Internet Banking INTERNET TRANSFER 026744446038,2025,10,21,chequing,-60.0,internet banking,internet transfer,2025-10-21_internet banking internet transfer ...
388,2025-10-28,Internet Banking INTERNET TRANSFER 360497880126,2025,10,28,chequing,-69.0,internet banking,internet transfer,2025-10-28_internet banking internet transfer ...
397,2025-11-04,Internet Banking INTERNET TRANSFER 090693565103,2025,11,4,chequing,-63.0,internet banking,internet transfer,2025-11-04_internet banking internet transfer ...
406,2025-11-11,Internet Banking INTERNET TRANSFER 491234612422,2025,11,11,chequing,-50.0,internet banking,internet transfer,2025-11-11_internet banking internet transfer ...
414,2025-11-18,Internet Banking INTERNET TRANSFER 757393494756,2025,11,18,chequing,-82.0,internet banking,internet transfer,2025-11-18_internet banking internet transfer ...
423,2025-11-25,Internet Banking INTERNET TRANSFER 321821919755,2025,11,25,chequing,-51.0,internet banking,internet transfer,2025-11-25_internet banking internet transfer ...
433,2025-12-02,Internet Banking INTERNET TRANSFER 532904682993,2025,12,2,chequing,-93.0,internet banking,internet transfer,2025-12-02_internet banking internet transfer ...

In [27]:
credit_payment_bool_series = expanded_credit_df["description"].str.contains("PAYMENT THANK YOU")

In [28]:
internal_payment_df = pd.concat([
    internal_payment_from_debit_df,
    expanded_credit_df.loc[credit_payment_bool_series]
]).drop(columns=["party"]).sort_values(by=["uid"]).reset_index(drop=True)
internal_payment_df

,date,description,year,month,day,account,amount,method,type,uid
0,2025-01-07,Internet Banking INTERNET TRANSFER 755558011330,2025,1,7,chequing,-64.0,internet banking,internet transfer,2025-01-07_internet banking internet transfer ...
1,2025-01-07,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,1,7,credit,64.0,NaN,NaN,2025-01-07_payment thank youpaiemen t merci_cr...
2,2025-01-14,Internet Banking INTERNET TRANSFER 996991902804,2025,1,14,chequing,-80.0,internet banking,internet transfer,2025-01-14_internet banking internet transfer ...
3,2025-01-14,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,1,14,credit,80.0,NaN,NaN,2025-01-14_payment thank youpaiemen t merci_cr...
4,2025-01-21,Internet Banking INTERNET TRANSFER 986463128183,2025,1,21,chequing,-51.0,internet banking,internet transfer,2025-01-21_internet banking internet transfer ...
...,...,...,...,...,...,...,...,...,...,...
91,2025-11-18,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,11,18,credit,82.0,NaN,NaN,2025-11-18_payment thank youpaiemen t merci_cr...
92,2025-11-25,Internet Banking INTERNET TRANSFER 321821919755,2025,11,25,chequing,-51.0,internet banking,internet transfer,2025-11-25_internet banking internet transfer ...
93,2025-11-25,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,11,25,credit,51.0,NaN,NaN,2025-11-25_payment thank youpaiemen t merci_cr...
94,2025-12-02,Internet Banking INTERNET TRANSFER 532904682993,2025,12,2,chequing,-93.0,internet banking,internet transfer,2025-12-02_internet banking internet transfer ...
95,2025-12-02,PAYMENT THANK YOU/PAIEMEN T MERCI,2025,12,2,credit,93.0,NaN,NaN,2025-12-02_payment thank youpaiemen t merci_cr...

In [29]:
debit_df = raw_debit_df.drop(internal_payment_from_debit_df.index).reset_index(drop=True)
debit_df

,date,description,year,month,day,account,amount,method,type,party,uid
0,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,2025,1,1,savings,2000.0,automated banking machine,atm deposit,NaN,2025-01-01_automated banking machine atm depos...
1,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,2025,1,1,savings,2000.0,automated banking machine,atm deposit,NaN,2025-01-01_automated banking machine atm depos...
2,2025-01-31,Internet Banking E-TRANSFER 891379219227 LANDLORD,2025,1,31,savings,-1500.0,internet banking,e-transfer,landlord,2025-01-31_internet banking etransfer 89137921...
3,2025-01-31,Internet Banking E-TRANSFER 141960766495 LANDLORD,2025,1,31,savings,-256.0,internet banking,e-transfer,landlord,2025-01-31_internet banking etransfer 14196076...
4,2025-02-28,Internet Banking E-TRANSFER 899912012729 LANDLORD,2025,2,28,savings,-1500.0,internet banking,e-transfer,landlord,2025-02-28_internet banking etransfer 89991201...
...,...,...,...,...,...,...,...,...,...,...,...
382,2025-11-30,Branch Transaction CREDIT MEMO,2025,11,30,chequing,7000.0,branch transaction,credit memo,NaN,2025-11-30_branch transaction credit memo _che...
383,2025-11-30,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,2025,11,30,chequing,-8.0,point of sale - visa debit,visa debit retail purchase,presto,2025-11-30_point of sale visa debit visa debi...
384,2025-12-01,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,2025,12,1,chequing,-4.0,point of sale - visa debit,visa debit retail purchase,presto,2025-12-01_point of sale visa debit visa debi...
385,2025-12-01,Internet Banking E-TRANSFER 917263704293 BLUE ...,2025,12,1,chequing,-50.0,internet banking,e-transfer,blue hockey club,2025-12-01_internet banking etransfer 91726370...
386,2025-12-31,Branch Transaction CREDIT MEMO,2025,12,31,chequing,7000.0,branch transaction,credit memo,NaN,2025-12-31_branch transaction credit memo _che...

In [30]:
def get_sign(amount):
    if amount > 0:
        return "income"
    elif amount < 0:
        return "expense"
    return "zero-value"

In [31]:
cash_flow_df = pd.concat([
    debit_df,
    expanded_credit_df.loc[~credit_payment_bool_series]
]).sort_values(by=["uid"]).reset_index(drop=True)
cash_flow_df["sign"] = cash_flow_df["amount"].apply(get_sign)
cash_flow_df

,date,description,year,month,day,account,amount,method,type,party,uid,sign
0,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,2025,1,1,chequing,2000.0,automated banking machine,atm deposit,NaN,2025-01-01_automated banking machine atm depos...,income
1,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,2025,1,1,savings,2000.0,automated banking machine,atm deposit,NaN,2025-01-01_automated banking machine atm depos...,income
2,2025-01-01,Automated Banking Machine ATM DEPOSIT TORONTO,2025,1,1,savings,2000.0,automated banking machine,atm deposit,NaN,2025-01-01_automated banking machine atm depos...,income
3,2025-01-01,Internet Banking E-TRANSFER 349282506970 BLUE ...,2025,1,1,chequing,-50.0,internet banking,e-transfer,blue hockey club,2025-01-01_internet banking etransfer 34928250...,expense
4,2025-01-02,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,2025,1,2,chequing,-3.0,point of sale - visa debit,visa debit retail purchase,presto,2025-01-02_point of sale visa debit visa debi...,expense
...,...,...,...,...,...,...,...,...,...,...,...,...
430,2025-12-01,Point of Sale - Visa Debit VISA DEBIT RETAIL P...,2025,12,1,chequing,-4.0,point of sale - visa debit,visa debit retail purchase,presto,2025-12-01_point of sale visa debit visa debi...,expense
431,2025-12-02,"WALMART TORONTO, ON",2025,12,2,credit,-93.0,NaN,NaN,walmart,2025-12-02_walmart toronto on_credit_-93.0_1,expense
432,2025-12-31,Branch Transaction CREDIT MEMO,2025,12,31,chequing,7000.0,branch transaction,credit memo,NaN,2025-12-31_branch transaction credit memo _che...,income
433,2025-12-31,Internet Banking E-TRANSFER 149174661918 LANDLORD,2025,12,31,savings,-255.0,internet banking,e-transfer,landlord,2025-12-31_internet banking etransfer 14917466...,expense
434,2025-12-31,Internet Banking E-TRANSFER 483520204193 LANDLORD,2025,12,31,savings,-1500.0,internet banking,e-transfer,landlord,2025-12-31_internet banking etransfer 48352020...,expense

In [32]:
with pd.ExcelWriter('output.xlsx') as writer:
    cash_flow_df.to_excel(writer, sheet_name="cash_flow", index=False)
    internal_transfer_df.to_excel(writer, sheet_name="internal_transfer", index=False)
    internal_payment_df.to_excel(writer, sheet_name="internal_payment", index=False)

## Command Test

In [34]:
# db_df = pd.read_excel("C:/Users/Daniel/Documents/Git/bank-statement-cleaner/outdated.xlsx", sheet_name=None)
# db_df

In [35]:
# internal_payment_df.loc[~internal_payment_df["uid"].isin(db_df["internal_payment"]["uid"])]